@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  margin: 0;
  padding: 0;
  color: white;
}
.container {
  width: 100vw;
  height: 100vh;
}
body {
  background-color: black;
}
.left {
  width: 25vw;
  height: 98%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.home{
  padding: 15px;}
.right {
  position: relative;
  height: 98%;
  width: 75vw;
}
.logo img {
  width: 126px;
}
.home ul {
  margin-top: 5px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.home ul li {
  color: black;
  width: 45px;
  gap: 15px;
  list-style: none;
  display: flex;
}
.home ul li img {
  width: 19px;
}
.bg-black {
  background-color: black;
}

.bg-gray {
  background-color: #121212;
}
.invert {
  filter: invert();
}
.rounded-border {
  border-radius: 7px;
}
.library {
  padding: 25px;
  height: 100%;
  position: relative;
}
.library .heading {
  display: flex;
  justify-content: space-between;
}
.addplus img {
  width: 15px;
}
.libfooter {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  position: absolute;
  bottom: 5%;
  
  justify-content: center;
}
#volButton{
  transform: scale(0.5);
  cursor: pointer;
}
.volumeRocker input{
  cursor: pointer;
}
.libfooterblock {
    display: flex
;

    justify-content: center;
}
.libfooter div a {
  text-decoration: none;
  font-weight: 200;
  font-size: smaller;
}
.rightheader {
  align-items: center;
  padding: 7px;
  justify-content: space-between;
  background-color: #161616;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.cancelSidebar {
  display: none;
}
.rightheader .arrows {
  padding-left: 15px;

  display: flex;
  gap: 10px;
}
#prevPlaylist:hover{
transform: scale(1.4);
cursor: pointer;
}
#nextPlaylist{
  transform: scale(-1);
}
#nextPlaylist:hover{
transform: scale(-1.4);
cursor: pointer
}

.spotifyPlaylist {
  max-height: 62.5vh;
  overflow-y: scroll;
  padding: 20px;
}
.spotifyPlaylist h1 {
  font-size: 28px;
  margin-bottom: 15px;
}
.card {
  position: relative;
  width: 180px;
  padding: 10px;
  background-color: #171616;
  transition: background-color 0.3s ease;
  border-radius: 7px;
}
.image img {
  border-radius: 5px;
  width: 100%;
  object-fit: contain;
}

.play img {
  width: 48px;
  position: absolute;
  bottom: 75px;
  right: 16px;
  opacity: 0;
  transition: opacity 0.2s ease-out, bottom 0.2s ease-out;
}
.card:hover {
  cursor: pointer;
  background-color: #1f1f1f;
  transform: scale(1.03); /* Slight zoom */
  transition: transform 0.3s ease;
}
.card:hover .play img {
  /*maltab carrd pe hover kiya to img badlega*/
  opacity: 1;
  bottom: 87px;
}
.playlistContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
#menuSide {
  display: none;
}
/* Works on body or any scrollable element */
body {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #555 #121212; /* Firefox: thumb color, track color */
}
button {
  outline: none;
  border: none;
}
.buttons {
  display: flex;
  gap: 10px;
}
.signupbtn {
  background-color: #161616;
  padding: 10px;
  color: gray;
  transition: all 0.1s ease;
}
.signupbtn:hover {
  padding: 10px;
  transform: scale(1.05);
  color: rgb(255, 255, 255);
}
.loginbtn {
  border-radius: 90px;
  width: 100px;
  height: 50px;
  font-weight: bolder;
  color: black;
  background-color: rgb(255, 255, 255);
}

.loginbtn:hover {
  transition: all 0.1s ease-out;
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.893);
}
.libcontent {
  margin-top: 16px;
  max-height: 50vh;
  overflow: scroll;
  scrollbar-width: none;
  overflow-x: hidden;
}
.libcontent ul {
  list-style-type: decimal;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.songlistCard {
  display: flex;
  border-radius: 7px;
  align-items: center;
  gap: 15px;
  padding: 8px 0;
  margin-right: 6px;
  position: relative;
  transition: all 0.1s ease-out;
}

.songlistCard:hover {
  background-color: #1f1f1f;
}

.songAuthor {
  font-size: small;
  font-weight: 200;
}
.songThumb img {
  margin-left: 10px;
  margin-top: 4px;
  width: 45px;
  border-radius: 4.5px;
  transition: all 0.1s ease-out;
}
.songThumb :hover {
  transform: scale(1.05);
}
.songPlay img {
  position: absolute;
  right: 10px;
  bottom: 22px;
  width: 30px;
  opacity: 0.15;
  transition: all 0.1s ease-out;
}

.songPlay img:hover {
  cursor: pointer;
  transform: scale(1.1);
  opacity: 1;
}
.songbuttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.songbuttons img {
  width: 45px;
  cursor: pointer;
}
#nextMusic {
  transform: scaleX(-1);
}
#nextMusic:hover {
  transform: scale(-1.1);
}
.songbuttons img:hover {
  transform: scale(1.1);
}
.playbar {
  width: 100%;
  position: absolute;
  bottom: 0%;
  background-color: rgba(0, 0, 0, 0.412);
  height: 18vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timetrack {
  position: relative;
  margin-top: 25px;
  width: 50vw;
  height: 5px;
  border-radius: 10px;
  background-color: #262525;
  cursor: pointer;
}
.timeinstant {
  cursor: pointer;
  height: 10px;
  width: 10px;
  top: -2.5px;
  left: 0;
  border-radius: 9px;
  position: absolute;
  background-color: rgb(255, 255, 255);
  transition: all 0.1s;
  opacity: 0;
}

.timetrail {
  position: absolute;
  height: 100%;
  width: 0%; /* Will be updated via JS */
  background: rgb(255, 255, 255);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  top: 0;
  left: 0;
}
.songtime {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.volumeRocker {
  display: flex;
  justify-content: center;
  align-items: center;
}
#volCn {
  width: 100%;
}
.timetrack:hover .timeinstant {
  opacity: 1;
}
.timetrack:hover .timetrail {
  background: rgb(14, 178, 14);
}

.songAboveBar {
  display: flex;
  gap: 13vw;
}
.songdetails,
.songDuration {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
}
@media (max-width: 1024px) {
  .opaqueScreen{
    background-color: rgba(0, 0, 0, 0.744);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 0;
  }
  .left {

    position: absolute;
    left: -100%;
    width: 90vw;
    height: 100vh;
    z-index: 2;
    transition: all 0.2s ease-in-out;
  }
  .right {
    
    width: 100%;
    height: 100%;
  }
  .container {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
  }
  .home {
    margin-top: 1vh;
    z-index: 10;
  }
  .library {
    height: 100vh;
    z-index: 10;
  }
  .libcontent {
    max-height: 80%;
    overflow: scroll;
  }
  .leftSidebarcross {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .cancelSidebar {
    transform: scale(0.9);
    width: 24px;
    margin-right: 20px;
    display: block;
  }
  .card {
    width: 28%;
  }
  .playbar {
    margin-left: 4.5px;
    border-radius: 10px;
height: 25%;
    position: absolute;
    bottom: 0;
    opacity: 1;
    margin-top: 0;
    width: 98vw;
    background-color: black;
  }
  .songAboveBar {
    flex-direction: column;
    gap: 1vh;
  }
  .spotifyPlaylist {
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 70%;
  }
  .headPlay {
    position: fixed;
  }
  .playlistContainer {
    overflow: scroll;
  }
  #menuSide {
    display: block;
  }
  .volumeRocker {
    display: none;
  }
}
@media (max-width: 484px){
  .card {
      width: 94%;
    }
   
  .playlistContainer {
    overflow: scroll;
  }
 
}
